.user-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .container{
    padding-top: 100px;
  }
  
  .profile-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff;
  }
  
  .user-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f8f8;
  }
  
  
  .user-avatar {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .profile-image {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .user-details {
    flex: 2;
    padding: 20px;
  }
  
  .user-details p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .user-details strong {
    color: #333;
  }
  
  .user-info:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .edit-profile-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .edit-profile-button:hover {
    background-color: #0056b3;
  }
  
  .user-info-section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .user-info-section h2 {
    color: #007bff;
    margin-bottom: 10px;
  }

  .gradient-custom {
    /* fallback for old browsers */
    background: #ffe6e3;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }